<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
 "http://www.w3.org/TR/html4/loose.dtd">

<html>
  <head>
    <title>Matrices</title>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>
  </head>
  <body>
    <center>
      <h2>Generate random system of linear equations</h2>
      <form action="" method="post" name="input">
        <i>Number of equations: </i>
        <p>{{ form.num_eq(autocomplete="off") }}</p>
        <i>Number of variables: </i>
        <p>{{ form.num_var(autocomplete="off") }}</p>
        <p><input type="submit" value="Generate">
      </form> 
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            {{ message }}
          {% endfor %}
        {% endif %}
      {% endwith %}
      <h2>Result:</h2>
      {{ matrix }}
      <details>
        <summary>Answer</summary>
        {{ unknowns }}
      </details>
    </center>
  </body>
</html>
